@page "/livemap"
<!--TODO: LAYOUT-->
@inject IJSRuntime JSRuntime
<!-- The above inject is needed to run javascript code from the C# code section-->

<h3 @onload="ShowAlert">Live Map</h3>



@code {

    async Task ShowAlert()
    {
        await JSRuntime.InvokeVoidAsync("createExpAlert"); //createExpAlert is in scope due to the page name and the js file having the same name.
    }

}
